<div class="row">
<div class="col-md-1 gutter">
</div>
<div class="col-md-10 main">
<h2>Welcome to RunDown</h2>
<h3>A tracking tool for run clubs</h3>

<p>{{#link-to 'athletes'}} Athlete Profiles {{/link-to}}</p>

</div>
</div>
<div class="col-md-1 gutter">
</div>
{{outlet}}

