<div class="row">
<div class="col-md-1 gutter">
</div>
<div class="col-md-10 main">
<h2>Welcome to CoachUP</h2>
<h3>A coaching tool to track your athletes</h3>

<p>{{#link-to 'athletes'}} Athlete Profiles {{/link-to}}</p>

</div>
</div>
<div class="col-md-1 gutter">
</div>
{{outlet}}

