<div class='row'>
<div class='col-md-1'>
</div>
<div class='col-md-10'>
{{athlete-profile athlete=model.athlete}}
{{#link-to 'athletes'}}Back to Athletes{{/link-to}}
</div>
<div class='col-md-1'>
</div>
</div>
