<h3>Your athletes:</h3>
<ul>
{{#each model.athlete as |athlete|}}
  {{athlete-profile athlete=athlete routeCreateWorkout='createWorkout' routeDeleteWorkout='deleteWorkout' routeEditWorkout='editWorkout'}}
{{/each}}
</ul>

{{#link-to 'index'}}Back home{{/link-to}}

{{outlet}}
